@import url("./index.css");
.expertise-container {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}

.expertise-heading-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.expertise-heading-container > p:nth-child(5) {
  padding-top: 10px;
  color: var(--text-primary);
  font-family: "Poppins";
  width: 80%;
}
.expertise-heading-container .expertise-heading-number {
  top: -20px;
}
.expertise-info-container {
  display: flex;
  gap: 50px;
}
.expertise-lists-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 50px;
  width: 50%;
}
.expertise-list-item {
  padding: 10px 0px 30px 0px;
  border-bottom: solid 1px rgb(235, 235, 235);
  display: flex;
  align-items: center;
  gap: 20px;
}
.expertise-list-item-img {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  background-color: var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
}
.expertise-list-item-img > img {
  width: 75px;
  height: 75px;
}
.expertise-list-item-desc {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.expertise-list-item-desc > h1 {
  font-size: 24px;
  color: var(--color-secondary);
}
.expertise-list-item-desc > p {
  padding-top: 5px;
  font-size: 14px;
  font-family: "Poppins";
  color: var(--text-primary);
}
.expertise-list-item-desc > p:nth-child(3) {
  color: var(--color-secondary);
  font-family: "Poppins";
  font-size: 12px;
  letter-spacing: 2px;
}
.expertise-stats-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.expertise-stats-item-desc {
  padding: 50px 0px 0px 0;
  font-size: 15px;
}
.expertise-stats-numbers-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.expertise-stat-number-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.expertise-stat-number-container > p {
  font-size: 12px;
  font-family: "Poppins";
  letter-spacing: 2px;
  color: var(--text-primary);
  padding-left: 5px;
  font-weight: 600;
  padding-top: 7.5px;
}
.expertise-stat-number-item {
  display: flex;
  gap: 5px;
  align-items: center;
}
.percent {
  width: 90%;
  border-radius: 30px;

  background-color: rgb(215, 215, 215);
  height: 25px;
}
.percent-90 {
  width: 90%;
  height: 100%;
  background-color: var(--color-secondary);
  border-radius: inherit;
}
.percent-80 {
  width: 80%;
  height: 100%;
  background-color: var(--color-secondary);
  border-radius: inherit;
}
.percent-100 {
  width: 100%;
  height: 100%;
  background-color: var(--color-secondary);
  border-radius: inherit;
}
.expertise-stat-number-item > p:nth-child(2) {
  font-family: "Poppins";
  color: var(--text-primary);
  font-weight: 600;
  letter-spacing: 1.5px;
}
@media (max-width: 500px) {
  .expertise-info-container {
    flex-direction: column;
  }
  .expertise-lists-container {
    width: 95%;
    margin: auto;
  }
  .expertise-stats-container {
    width: 95%;
    text-align: center;
    margin: auto;
  }
  .expertise-stats-numbers-container {
    width: 100%;
  }
  .expertise-stats-item-desc {
    padding-top: 20px;
  }
  .expertise-list-item {
    width: 95%;
    margin: auto;
  }
}
