@import url("./index.css");
.welcome-heading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  z-index: 1;
  padding: 30px 0px;
}
.section-number {
  top: -4px;
  z-index: -1;
  color: #f2f2f2;
  font-size: 124px;
  font-family: "Josefin Sans", sans-serif;
}
.section-title {
  font-family: "Poppins";
  font-size: 12px;
  color: var(--text-primary);
  letter-spacing: 2px;
}
.section-heading {
  font-size: var(--font-heading);
  color: var(--color-secondary);
  font-weight: bold;
  letter-spacing: -1px;
  padding-bottom: 6px;
}
.heading-underline {
  width: 100px;
  display: block;
  height: 5px;
  border-radius: 5px;
  background-color: var(--color-secondary);
}
.heading-secondary {
  color: var(--text-secondary);
}
.text-center {
  text-align: center;
}
.section-desc {
  text-align: center;
  width: 55%;
  line-height: 27.5px;
  font-family: "Poppins";
  padding: 15px;
  color: var(--text-primary);
}

.welcome-cards-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.welcome-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.welcome-card-image {
  width: 100px;
  height: 100px;
  padding: 25px 25px;
  border-radius: 50%;
  border: solid 3px var(--color-secondary);
  transition: all 0.4s ease;
}

.welcome-card-image > img {
  width: 100%;
}

.welcome-card-bg-image {
  top: 50%;
  z-index: -1;
  left: 50%;
  width: 120%;
  height: 120%;

  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}
.welcome-card-image:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.bg-1 {
  width: 130%;
  height: 130%;
}
.bg-2 {
  width: 90%;
  height: 90%;
}

.welcome-card-bg-image > img {
  width: 100%;
}
.welcome-card-title {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}
.welcome-card-title > p {
  font-size: 12px;
  color: var(--text-primary);
  font-family: "Poppins";
  letter-spacing: 2.5px;
}
.welcome-card-title > h1 {
  font-size: 30px;
  color: var(--color-secondary);
}
.welcome-card-title > h1 > span {
  color: var(--text-secondary);
}
.welcome-card-desc {
  width: 90%;
  margin: auto;
}
.welcome-card-desc > p {
  color: var(--text-primary);
  font-size: 16px;
  text-align: center;
  font-family: "Poppins";
  line-height: 25px;
}

@media (max-width: 500px) {
  .section-desc {
    width: 80%;
  }
  .welcome-cards-container {
    flex-direction: column;
    gap: 50px;
  }
}
